.cart-block{
  margin:0% 10% 4% 10%;
}

.text-right{
  font-weight: bold;
}

.total{
  font-weight: bold;
}

.entete{
  font-weight: bold;
}

// cart vide

// cart vide

:root{
  --bleu:#324161;
  --jaune:#fab91a;
}

.form-range{
  width: 25%;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
}

.image{
  width: 100%;
  text-align: center;
}

.text{
  font-weight: bold;
  color: #324161;
  font-size: 30px;
  padding: 30px 0 0 10%;
}

.text-bas{
  font-weight: bold;
  color: #324161;
  text-align: center;
  padding-bottom: 21px;
}

.btn{
  font-weight: bold;
  background-color: #324161;
  color: white;
  border-color: #324161;
}

