
<app-header></app-header>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Panier</h1>
     </div>
</section>

<section class="cart-block" *ngIf="isempty==false">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col" class="entete">Produits</th>
                            <th scope="col" class="entete">Disponible</th>
                            <th scope="col" class="text-center entete">Quantité</th>
                            <th scope="col" class="text-right entete">Prix Unitaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let elts of cart_items">
                            <td><img [src]="elts.img" width="100" height="100" /> </td>
                            <td>T-shirt</td>
                            <td>En stock</td>
                            <td class="text-center">
                               <!-- <input class="form-range mb-2" type="range" [name]="cart_items.indexOf(elts)" min="1" max="200" [(ngModel)] ="elts.qty" /> 
                                        -->{{elts.qty}}
                            </td>
                            <td class="text-right">{{elts.price}} Fcfa</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash" [id]="cart_items.indexOf(elts)" (click)="removeItem($event)"></i> </a> 
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>   
                            <td></td>
                            <td></td>
                            <td>Sous-Total</td>
                            <td class="text-right">{{sub_total}} Fcfa</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="total"><strong>Total</strong></td>
                            <td class="text-right"><strong>{{diliver}} Fcfa</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="#" class="btn btn-lg btn-block text-uppercase" style="background-color: #fab91a; color: #324161;">POURSUIVRE VOS ACHATS</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="/users/login" class="btn btn-lg btn-block text-uppercase" style="background-color: #324161; color: white;">FINALISER VOTRE COMMANDE</a>
                </div>
            </div>
        </div>
    </div>
</section>



<div  *ngIf="isempty">
    <div class="text">
        <p>Récapitulatif de la commande</p>
      </div>
      <div class="image">
        <img src="/assets/image/Lampe pas de commande.png" alt="">
      </div>
      <div class="text-bas">
        <p>Il n'y a aucune commande</p>
        <a class="btn btn-lg btn-primary" href="/home">Continuer mes achats</a>
      </div>
</div>



<app-footer></app-footer>
