@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Festive&family=Great+Vibes&family=Monoton&family=Oleo+Script:wght@700&family=Pacifico&family=Pinyon+Script&family=Satisfy&family=Yellowtail&display=swap');


body{
  background-color: #eeeeee !important;
}

.row{
  padding-left: 0px;
}

/* The container of each option */
.color-option {
  display: inline;
  position: relative;
  margin: 5px 15px 5px 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The container of all options */
.color-picker {
  margin: 10px 0px 10px 0px;
}

/* Hide the browser's default radio button */
.color-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #e6e3e3;
}

/* Style the indicator (dot/circle) when checked */
.color-option input:checked ~ .checkmark {
  margin-right: 5px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  border: 1px solid rgba(81, 203, 238, 1);
}

/* Style the indicator (dot/circle) */
.color-option .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.modale{
  border: none;
  overflow: auto;
  background: none;
  padding: 0px;
  //display: contents;
}
.modal-body{
  border: none;
  overflow: auto;
  background: none;
  //padding: 0px;
}
.modale i{
  margin: 10px;
  
}
INPUT:not(:-webkit-autofill), SELECT:not(:-webkit-autofill), TEXTAREA:not(:-webkit-autofill) {
  animation-name:none;
}
.inp{
  position: relative;
  top: 5px;
  left: 12px;
  width: 10%;
}
.modal-content{
  width: 66%;
  //height: 310px;
}
.far{
  font-size: small;
}
.modale a{
  margin-top: 0px;
  color: black;
}


a{

    text-decoration: none;
    margin-top: 35px;
    margin-left: 0px;

}
li{
    list-style: none;
}

#myrow{
    box-shadow: 10px 2px 15px 0px rgba(0, 0, 0, 0.1);
    background: #eeeeee !important;
    width: auto;
}

// BOUTON IMPORTER
input[type="file"]{
  display: none;
}

label.importer{
  text-align: center;
  margin-right: 40%;
}

.bg-light{
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
    background: #e3e4e3 !important;
}



@media  screen and (max-width:860px) {


  


}





.custom{

  background: #fff !important;
  margin-left: 15px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  margin-top: 20%;
  margin-left: 60%;
  height: auto;
  width: 350px;
  font-size: 15px;
  text-align: center;

}







#mycol{
height: 500px;
width: 180px;
margin-left: 80px;
margin-right: 10%;
box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
background: #fff !important;
margin-right: 0px;
text-transform: lowercase;
font-family: 'Times New Roman', Times, serif;
border-radius: 15px white solid;
text-align: center;


}




#pri{
background-color: #324161;
color:white;
margin-left: 60%;
width: auto;
margin-top: 10px;
text-transform: lowercase;
}









@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

$colors: (
  red: #DB2828,
  orange: #F2711C,
  yellow: #FBBD08,
  olive: #B5CC18,
  green: #21BA45,
  teal: #00B5AD,
  blue: #2185D0,
  violet: #6435C9,
  purple: #A333C8,
  pink: #E03997,
  white:#fff,
  indigo:#6c3497,
  black:#0000
  
);

* {
  box-sizing: border-box;
}



input[type="radio"] {
  display: none;
  &:checked + label {
    span { transform: scale(1.25); }
    @each $name, $value in $colors {
      .#{$name} {
        border: 2px solid darken($value, 25%);
      }
    } // !@each
  } // !&:checked + label
}

label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 60%;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span {
      transform: scale(1.25);
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}


.checked{
  color: orange;
}






.file-upload{
 width: auto;
 box-shadow: ivory;
 border-radius: 1px;

}



.modal-p-bottom {
  // &.show{
  //   overflow: hidden;
  // }
   .modal-dialog{
    position: absolute;
   // bottom: 0;
    top:100px;
    left: 0px;
    right: 0;
    max-width: 100% !important;
    margin: 0;
    transform:translateY(100%) !important;
    .modal-content{
      border-radius: .3rem .3rem 0 0;
    //@at-root  overflow: scroll;

    }

  }

  &.show{
    overflow: hidden;
    .modal-dialog{
      transform:translateY(0%) !important;
      min-height:80px;
    }

  }
}
.modal-body {
  overflow:scroll;
  border: 2px dashed blue;
}
.float-right{
 text-align: center;
 float: inline-start;
}

#aladin-editor{
  margin: 0px;
 border: #06918a dashed 2px;
}

#i{
  position: relative;
    bottom: 284px;
    margin-left: 612px;
}

@media screen and (min-width:320px) and (max-width:382) {
  #aladin-editor{
    width: auto;
    height: auto;
    position: relative;
    user-select: none;
  }
  .col-sm-4{
    width: 0%;
    height: 0%;
  }
}
.container{
  width: 606px;
}
.li{
  margin-top: 56px;
}


#items{
  list-style:none;
  margin:0px;
  margin-top:4px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:3px;
  font-size:17px;
  color: #333333;
  
}
hr { width: 85%; 
  background-color:#E4E4E4;
  border-color:#E4E4E4;
    color:#E4E4E4;
}
#cntnr{
  display:none;
  position:fixed;
  border:1px solid #B2B2B2;
  width:150px;      background:#F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius:4px;
}

li{
  
  padding: 3px;
  padding-left:10px;
  list-style: none;
}


#items :hover{
   color: white;
  background:#284570;
  border-radius:2px;
}