<app-header></app-header>
<br><br><br>
<body>
  <!--
  <p>
    Right click on someone's name:
  </p>
  <ul>
      <li *ngFor="let item of items" [contextMenu]="basicMenu" [contextMenuSubject]="item">{{item?.name}}</li>
  </ul>

  <context-menu>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
      supprimer
    </ng-template>
    <ng-template contextMenuItem [divider]="divider"></ng-template>
    <ng-template contextMenuItem let-item (execute)="showMessage($event.item.name + ' said: ' + $event.item.otherProperty)">
      Bye, {{item?.name}}
    </ng-template>
  
  </context-menu>
-->

<br><br>


  <nav class="navbar navbar-expand-lg collapse navbar-light bg-light"  id="texts" style="background: #324161 !important;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a data-toggle="tooltip" data-placement="top" title="texte" class="nav-link text-white" (click)="createText()">
          <i class="fad fa-text"></i></a>
      </li>
      <li class="nav-item ">
        <a data-toggle="tooltip" data-placement="top" title="gras" (click)=" MakeBold($event)" class="nav-link  text-white">
          <i class="fas fa-bold"></i><span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a (click)="MakeItalic($event)" class="nav-link text-white" data-toggle="tooltip" data-placement="top" title="italic">
          <i class="fas fa-italic"></i>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link text-white" (click)="underline()" data-toggle="tooltip" data-placement="top" title="Sourligner">
          <i class="fa fa-underline"></i>
        </a>
      </li>
      <li class="nav-item">
        <a  class="nav-link  text-white" (click)="removeItem()" data-toggle="tooltip" data-placement="top" title="supprimer">
          <i class="fad fa-trash"></i>
        </a>
      </li>

      <li class="nav-item ">
        <a  class="nav-link text-white" (click)="setTextBeforeEdit()" data-toggle="tooltip" data-placement="top" title="retour"><i class="fas fa-undo"></i></a>
      </li>
      <li class="nav-item">
        <a  class="nav-link text-white"  (click)="Copy()" data-toggle="tooltip" data-placement="top" title="Copier">
          <i class="far fa-clone"></i>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link text-white" (click)="Paste()" data-toggle="tooltip" data-placement="top" title="Coller">
          <i class="fal fa-paste"></i>
        </a>
      </li>
     
<!----
  <li class="dropdown nav-item">
    <a class="btn btn-light dropdown-toggle dropdown-toggle-split nav-link"  role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-text-height"></i> </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <select  id="font-height"  (change)="ChangeTextHeight($event)">
      </select>
    </div>
  </li>
-->
<li class="nav-item">
  <a class="nav-link text-white"  data-toggle="collapse" data-target="#text-height" aria-expanded="false" aria-controls="text-height" data-toggle="tooltip" data-placement="top" title="hauteur du texte"><i class="fa fa-text-height"></i></a>
  
<div class="collapse" id="text-height">
  <label for="Range3" class="form-label text-white text-sm">Hauteur:{{text_height}}</label>
<input type="range" class="form-range " name="height" min="5" max="100" step="5" id="Range3" [(ngModel)]="text_height">
</div>
</li>
<li class="nav-item">
  <a  class="nav-link text-white"  data-toggle="collapse" data-target="#text-width" aria-expanded="false" aria-controls="text-width" data-toggle="tooltip" data-placement="top" title="largeur texte"><i class="fas fa-text-width"></i></a>
  <div class="collapse" id="text-width">
    <label for="customRange3" class="form-label text-white text-sm">Largeur:{{text_width}}</label>
    <input type="range" class="form-range" min="30" name="width" max="800" step="5" id="customRange3" [(ngModel)]="text_width">
  </div>
</li>




<li class="li nav-item  text-white">
    <i class="fas fa-font" data-toggle="tooltip" data-placement="top" title="police"></i>
  <select  id="font-family" name="font-family" (change)="selectChangeHandler($event)">
  </select>
</li>

      <li class="nav-item">
          <input type="radio" name="col" id="red1" value="red" (click)="changeTextColor($event)" value="red"/>
          <label for="red1"><span class="red"></span></label>
          <input type="radio" name="col" id="green1" (click)="changeTextColor($event)" value="green" />
          <label for="green1"><span class="green"></span></label>
          <input type="radio" name="col" id="yellow1" (click)="changeTextColor($event)" value="yellow"/>
          <label for="yellow1"><span class="yellow"></span></label>
          <input type="radio" name="col" id="white1" (click)="changeTextColor($event)" value="white"/>
          <label for="white1"><span class="white"></span></label>
          <input type="radio" name="col" id="olive1" (click)="changeTextColor($event)" value="olive" />
          <label for="olive1"><span class="olive"></span></label>
          <input type="radio" name="col" id="orange1" (click)="changeTextColor($event)" value="orange"/>
          <label for="orange1"><span class="orange"></span></label>
          <input type="radio" name="col" id="teal1"  (click)="changeTextColor($event)" value="teal"/>
          <label for="teal1"><span class="teal"></span></label>
          <input type="radio" name="col" id="blue1" (click)="changeTextColor($event)" value="blue" />
          <label for="blue1"><span class="blue"></span></label>
          <input type="radio" name="col" id="violet1" (click)="changeTextColor($event)" value="violet"/>
          <label for="violet1"><span class="violet"></span></label>
          <input type="radio" name="col" id="purple1" (click)="changeTextColor($event)" value="purple"/>
          <label for="purple1"><span class="purple"></span></label>
          <input type="radio" name="col" id="pink1" (click)="changeTextColor($event)" value="pink" />
          <label for="pink1"><span class="pink"></span></label>
          <input type="radio" name="col" id="indigo" (click)="changeTextColor($event)" value="indigo" />
          <label for="indigo"><span class="indigo"></span></label>
          <input type="radio" name="color" id="black1"  (click)="changeTextColor($event)" value="black"/>
          <label for="black1"><span class="black"></span></label>
      </li>
  <li class="nav-item">
    <a  class="nav-link text-white" data-toggle="collapse" data-target="#stroketexts" aria-expanded="false" aria-controls="stroketexts" data-toggle="tooltip" data-placement="top" title="contour de texte"><i class="fad fa-border-style-alt"></i></a>
    <div class="collapse" id="stroketexts">
      <label for="stroke" class="form-label text-white text-smt">taille:{{stroke_size}}</label>
      <input type="range"class="form-range" name="stroke" min="1" max="8" step="1" id="strokesize" [(ngModel)]="stroke_size"/>      
      <label for="strokecolor" class="form-label text-white text-capitalize">couleur</label>
      <br>
      <input type="color"  name="strokecolor"  id="strokecolor" [(ngModel)]="stroke_color"/>   
    </div>
  </li>
 
    </ul>
    
  </div>
  
</nav>

<div class="row" id="myrow">
<div id='mycol'>

  <div class="row auto-max">
    <a class="btn"  data-toggle="modal" data-target="#products" >Produits</a>
   </div>


  <div class="row auto-max">

    <a class="btn"  data-toggle="modal" data-target="#shape" >Formes</a>

   </div>

  <div class="row auto-max">
    <a class="btn"  id='text' data-toggle="collapse" data-target="#texts" aria-expanded="false" aria-controls="texts" >Texte</a>

   </div>
<!----
  <div class="row auto-max">
    <a class="btn" data-toggle="modal" data-target="#design">Designs</a>
   </div>
  -->
  <div class="row auto-max">
    <a class="btn"  data-toggle="modal" data-target="#clips" >Clipsparts</a>

   </div>

   <div class="row auto-max">

      <input type="file" id="file" name="link"class="file-upload" (change)="onFileUpload($event)">
      <img [src] ="imagePreview" (click)="setLogo($event)">

      <a class="btn" ><label for="file" class="importer">IMPORTER</label></a>
   </div>

</div>

      <div class="col-sm-4 col-md-4 col-lg-10" id="aladin-wraper">
            <div class="col-lg-10 col-md-8 col-sm-8 "(contextmenu)="OnRightClick($event)">
              <div style="width: 20px;height: 20px; position:absolute ; top:350px">
                  <app-spiner [show]="show" [size]="50"> </app-spiner>
              </div>
              <canvas id="aladin-editor" height="800" width="800" class="col-lg-12 col-md-8 col-sm-4">
              </canvas>
              <app-faces [URL]="s" [face1]="face1" (newItemEvent)="turnImage($event)"></app-faces>
              <a data-toggle="modal" data-target="#examleModal" id="xdv" hidden>
              </a>

  <div class="modal fade" id="examleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body modale">
          <a  data-toggle="tooltip" data-placement="top" title="Mettre en gras" (click)="MakeBold($event)">
          <i  class="fa fa-bold"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Italic" (click)="MakeItalic($event)">
          <i class="fa fa-italic"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Sourligner" (click)="underline()">
          <i class="fa fa-underline"></i>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="police" >
          <i class="fa fa-font" data-toggle="modal" data-target="#exaModal"></i>
          <div class="modal fade" id="exaModal" tabindex="-1" aria-labelledby="exaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content" style="margin-bottom: 165px;">
                <div class="modal-body">
                    <select   name="font" id="family" (change)="selectChangeHandler($event)" >
                    </select>
                   
                </div>
              </div>
              </div>
            </div>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Supprimer" (click)='removeItem()'>
          <i style="color: red;" class="fa fa-trash-alt"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Copier" (click)="Copy()">
          <i class="fa fa-copy"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Coller" (click)="Paste()">
          <i class="fa fa-paste"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="annulé" (click)="setTextBeforeEdit()">
          <i class="fa fa-sync"></i>
          </a>
          <input class="inp" type="color"  name="textscolor" id="colorc" [(ngModel)]="Textcolor" >
          
        </div>
       
      </div>

      
    </div>
  </div>
          </div>  
      </div>
<div class="col-md-8 col-lg-4 col-sm-8 mycoul">
  <div class="custom ">
    <div class="col">
        <a class="btn" data-toggle="modal" data-target="#detail" >Voir les details</a>
    </div>
    <br>
    <div>
    <span class="col">Couleur du produit</span>

    </div>

  <input type="radio" name="color" id="red" (click)="prodcolor($event)"/>
  <label for="red"><span class="red"></span></label>


  <input type="radio" name="color" id="green"  (click)="prodcolor($event)"/>
  <label for="green"><span class="green"></span></label>


  <input type="radio" name="color" id="yellow"  (click)="prodcolor($event)" />
  <label for="yellow"><span class="yellow"></span></label>


  <input type="radio" name="color" id="olive"  (click)="prodcolor($event)"/>
  <label for="olive"><span class="olive"></span></label>
  <input type="radio" name="color" id="orange" (click)="prodcolor($event)" />
  <label for="orange"><span class="orange"></span></label>
  <input type="radio" name="color" id="teal"  (click)="prodcolor($event)"/>
  <label for="teal"><span class="teal"></span></label>
  <input type="radio" name="color" id="blue"  (click)="prodcolor($event)" />
  <label for="blue"><span class="blue"></span></label>
  <input type="radio" name="color" id="violet"  (click)="prodcolor($event)" />
  <label for="violet"><span class="violet"></span></label>
  <input type="radio" name="color" id="purple" (click)="prodcolor($event)" />
  <label for="purple"><span class="purple"></span></label>
  <input type="radio" name="color" id="pink"  (click)="prodcolor($event)"/>
  <label for="pink"><span class="pink"></span></label>
  <input type="radio" name="color" id="black"  (click)="prodcolor($event)"/>
  <label for="black"><span class="black"></span></label>

  <hr style="background: rgb(146, 30, 30) !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);">

  <div class="col-lg-1 col-md-1"><br></div>
  <div class="col-lg-1 col-md-1"><br></div>
  </div>
<!--
  <div class="col-sm-4 col-lg-8 col-md-8 col-sm-4">
    <div class="row">
      <div class="col-lg-3 col-md-5 col-sm-6 coul">
         <a  class="btn" type="button"><i class="fas fa-phone-volume fa-lg "></i><br>Assistance</a>
      </div>
      <br>


<div class="col-lg-3 col-md-5 col-sm-6 coul">
        <a>
        <i class="fas fa-layer-group fa-lg "></i></a> <br>Acheter en gros
      </div>
-->


 <!--
<div class="col-lg-3 col-md-5 col-sm-6 coul" style="margin-left: 100px;">
  <a  id="save" (click)="getDesigns()" type="button" class="btn"><i class="far fa-save fa-lg "></i>
      <br>Enregistrer</a>
  </div>


 
  <div class="col-lg-3 col-md-5 col-sm-6 coul">
    <a><i class="fas fa-share-alt-square fa-lg "></i><br>partager</a>
    </div>


    </div>


</div>
  -->


<div class="col myc" >
  <a class="btn" id="pri" data-toggle="modal" data-target="#info">Calculer le prix</a>
</div>
</div>

<div id="info" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Mettre dans le panier</h5>

              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p class="to text text-primary">{{price}} Fcfa</p>

            <style>
              .to{
            text-align: center;
              }
              .input-number{
                width: 100px;
                bottom: 0px;
                text-align: center;
                float: inline-start;
                background: #F2711C !important;
                position:absolute;
              }
              .input-number-decrement{
                margin-left:50px ;
                background: #fff !important;
                float: left;


              }
              .input-number-increment{
                background: #fff !important;
                float: right;
                margin-right: 20px;


              }
            </style>

              <a type="button" class="input-number-decrement btn" (click)="getPricem()">–</a>

              <span class="input-number">{{inpunmb}} </span>
              <a type="button" class="input-number-increment btn" (click)="getPrice()">+</a>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-primary" (click)="addtocart()" data-dismiss="modal">OK</button>
          </div>
      </div>
  </div>
</div>




<div id="detail" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Detail du produit</h5>

              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
       <app-details [(myid)]="prodid" [(cat)]="iscat">

       </app-details>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-dismiss="modal">J'aime</button>
          </div>
      </div>
  </div>
</div>

<img src="/assets/images/blouse.webp" hidden crossorigin="anonymous" id='test' height="300" >
</div>
<div class="modal fade modal-p-bottom " id="design">
  <div class="modal-dialog ">
    <div class="modal-content col-lg-4 col-md-5 col-sm-12" >
      <div class="modal-body " id="mydesigns">
      <app-designs [url]="designed" (newItemEvent)="setImage($event)"></app-designs>
        </div>
      <div class="modal-footer col-lg-2 col-md-3 ">
        <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->

  <div class="modal fade " id="products">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body col">
          <app-products (newItemEvent)="setImage($event)"></app-products>
          </div>
        <div class="modal-footer col-lg-2 col-md-3 ">
          <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " id="clips">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body col">

          <app-clipart (newItemEvent)="setLogo($event)"></app-clipart>

          </div>
        <div class="modal-footer col-lg-2 col-md-3 ">
          <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="shape">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body col">
          <app-forme (newItemEvent)="setLogo($event)"></app-forme>
           </div>
        <div class="modal-footer col-lg-2 col-md-3 ">
          <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
        </div>
      </div>
    </div>
  </div>

</body>
<br><br><br>
<app-footer></app-footer>
