
<app-header></app-header>
      <!-- nombre de produit dans le panier -->

<!----
<div class="row">
  <div class="col-md-8 order-md-2 mb-4">
    <h4 class="d-flex justify-content-center align-items-center mb-3">
      <span class="text-muted">Votre liste de favoris</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex lh-condensed ">
        <img src="../assets/image/3.png" alt="">
        <div class="text">
          <h6 class="my-0">Nom du produit</h6>
          <small class="text-muted">description</small>
        </div>


        <div class="ml-auto p-2">
          <div class="achete">
            <a href="#"><button class="btn btn-xs btn-success my-0">
              <i class="fa fa-check" aria-hidden="true"></i>   Acheter</button></a>
          </div>
          <div class="sup">
            <a href="#"><button class="btn btn-xs btn-outline-danger my-0">
              <i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button></a>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex lh-condensed ">
        <img src="../assets/image/295x295_gourde-verre.jpg" alt="">
        <div class="text">
          <h6 class="my-0">Nom du produit</h6>
          <small class="text-muted">description</small>
        </div>
        <div class="ml-auto p-2">
          <div class="achete">
            <a href="#"><button class="btn btn-xs btn-success my-0">
              <i class="fa fa-check" aria-hidden="true"></i>   Acheter</button></a>
          </div>
          <div class="sup">
            <a href="#"><button class="btn btn-xs btn-outline-danger my-0">
              <i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button></a>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex lh-condensed ">
        <img src="../assets/image/7.png" alt="">
        <div class="text">
          <h6 class="my-0">Nom du produit</h6>
          <small class="text-muted">description</small>
        </div>
        <div class="ml-auto p-2">
          <div class="achete">
            <a href="#"><button class="btn btn-xs btn-success my-0">
              <i class="fa fa-check" aria-hidden="true"></i>   Acheter</button></a>
          </div>
          <div class="sup">
            <a href="#"><button class="btn btn-xs btn-outline-danger my-0">
              <i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button></a>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex lh-condensed ">
        <img src="../assets/image/plaquette.jpg" alt="">
        <div class="text">
          <h6 class="my-0">Nom du produit</h6>
          <small class="text-muted">description</small>
        </div>


        <div class="ml-auto p-2">
          <div class="achete">
            <a href="#"><button class="btn btn-xs btn-success my-0">
              <i class="fa fa-check" aria-hidden="true"></i>   Acheter</button></a>
          </div>
          <div class="sup">
            <a href="#"><button class="btn btn-xs btn-outline-danger my-0">
              <i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button></a>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex lh-condensed ">
        <img src="../assets/image/3.png" alt="">
        <div class="text">
          <h6 class="my-0">Nom du produit</h6>
          <small class="text-muted">description</small>
        </div>
        <div class="ml-auto p-2">
          <div class="achete">
            <a href="#"><button class="btn btn-xs btn-success my-0">
              <i class="fa fa-check" aria-hidden="true"></i>   Acheter</button></a>
          </div>
          <div class="sup">
            <a href="#"><button class="btn btn-xs btn-outline-danger my-0">
              <i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-footer></app-footer>


-->
<div>
    <h1 class="text text-default text-center" style="top: 250px;">
        <strong>En cours de développement.............</strong> 

    </h1>
</div>
