<app-header></app-header>
<app-header-categorie></app-header-categorie>

<div class="container">
    <div id="body">
      <div class="row">
       <div>
         <h1>NOTRE GAMME   <span>  DE VETEMENTS</span></h1>
         <br>
         <p style="color:#324161;font-weight:bold;">{{data}}</p>
       </div>
      </div>
    </div>
    <div class="section-personnalisation">
      <div class="row">
        <div class="col-sm-3 perso" *ngFor="let item of cltobj">
       
          <a [href]="url+item.clt_id">
          <div class="img">
            <img [src]="item.img" alt="">
          </div>
          <div class="txt-produit">
            <p>{{item.name_cloths}}</p>
          </div>
        </a>
        </div>
   
       
      </div>
    </div>


<!--
    <div class="section-personnalisation1">
      <div class="txt">
        <p class="txt-yellow">Top Partners</p>
      </div>
      <div class="menu">
        <div class="row produit">
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<app-footer></app-footer>
