<app-header></app-header>
<app-header-categorie></app-header-categorie>
<body>
<div class="container">
  <div id="body" style="background-color: #ffbc00;">
    <div class="row">
     
      <div class="col-sm-6 box-image">
        <img src="assets/image/j.png" alt="">
      </div>

      <div class="col-sm-6 box-text">
        <p>Les meilleurs emballages aux meilleurs Prix</p>
        <div class="decouvrir">
          <a style="color: white;" class="btn btn-decouvrir" (click)="View()">Découvrir</a>
        </div>
      </div>

    </div>
  </div>

  <div class="section-personnalisation" id="view">
    <div class="row">

      <div class="col-sm-3 perso" *ngFor="let item of packs">
        <a [href]="url+item.pack_id">
          <img [src]="item.img" alt="">
        </a>
        <div class="txt-produit">
          <p>{{item.name_packaging}}</p>
        </div>
      </div>

      
    </div>
  </div>

  <!--
  <div class="section-personnalisation1">
    <div class="txt">
      <p class="txt-yellow">Les mieux notés | Livraison en 24 heures
      <a href="#" class="voir-plus">VOIR PLUS <div class="fa fa-angle-right"></div></a>
      </p>
    </div>
    <div class="menu">
      <div class="row produit">
        <div class="col-sm-3">
          <div class="perso">
            <a href="#">
              <img src="assets/image/sac-papier.jpg" alt="">
            </a>
          </div>
          <div class="txt-produit">
            <p>SAC SANS ANSES</p>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="perso">
            <a href="#">
              <img src="assets/image/sac-papier.jpg" alt="">
            </a>
          </div>
          <div class="txt-produit">
            <p>SAC AVEC ANSES</p>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="perso">
            <a href="#">
              <img src="assets/image/sac-papier.jpg" alt="">
            </a>
          </div>
          <div class="txt-produit">
            <p>SAC SANS ANSES</p>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="perso">
            <a href="#">
              <img src="assets/image/sac-papier.jpg" alt="">
            </a>
          </div>
          <div class="txt-produit">
            <p>SAC EN PAPIER KRAFT PERSONNALISÉ</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-personnalisation1">
    <div class="txt">
      <p class="txt-yellow">Top Partners</p>
    </div>
    <div class="menu">
      <div class="row produit">
        <div class="col-sm-3">
          <div class="perso">
            <a href="#">
              <img src="assets/image/sac-papier.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="perso1">
            <a href="#">
              <img src="assets/image/sac-papier.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="perso1">
            <a href="#">
              <img src="assets/image/sac-papier.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="perso1">
            <a href="#">
              <img src="assets/image/sac-papier.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

-->
</div>

</body>


<app-footer></app-footer>
