
<!--top bar-->
 <body>

    <div class="navbar" style="background: #042341;font-family: Roboto;">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul>
              <a>Contact: 2723457302</a>
              <span class="vertical-line"></span>
              <a href="/" class="nav-link" style="color:#fab91a;">Notre entreprise</a>

            </ul>
          </div>
          <div class="col">
           <!----
            <ul class="partner">

             <i  class="fa fa-handshake-o fa-2x" aria-hidden="true"style=" color: #fab91a;"></i> <a href="/partners" class="nav-link ">Devenir partenaire</a>

            </ul>
          -->
          </div>
          <div class="col faire" style="color: white;">
            <ul>

              <a href="#" class="nav-link" style="color: white;margin-left: 44px;"> Comment ça marche ?</a>
              <span class="vertical-line"></span>
              <a href="#" type="button"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"  class="nav-link con" style="color: white; ">
                <i class="fa fa-user" aria-hidden="true"></i>
                Connexion
              </a>
              <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel" style="color: #324161;font-size: 34px;font-weight: bold;">Connexion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                                <form>
                                    <p>Envie de shopper?<i class="fa fa-user fa-2x"
                                      style="margin-left: 10px;color: #324161;"    aria-hidden="true"></i><a href="/users/register" > je m'inscris</a></p><br>
                                   <!---- <p>Envie de vendre?<i  class="fa fa-handshake-o fa-2x"
                                       aria-hidden="true" style="margin-left: 10px;"> </i> <a href="/partners">je deviens partenaire</a></p><br>-->
                                    
                                       <div class="mb-3">
                                    <input type="text" class="form-control" name="email"   placeholder="E-mail ou Nom d'utilisateur" [(ngModel)]="data.email">

                                    <div *ngIf="data.erroremail==true" class="alert alert-warning alert-dismissible fade show text-danger">
                                      {{message}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    </div><br>

                                    <div class="mb-3">
                                    <input type="password" class="form-control" id="pass" name="password" placeholder="Mot de passe" [(ngModel)]="data.password">
                                    <div *ngIf="data.errorpwd==true" class="alert alert-warning alert-dismissible fade show text-danger">
                                      {{data.pwdmsg}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    </div>

                                    <div class="mb-3 form-check" >
                                      <input type="checkbox" name="checked" class="checkbox" id="checkbox">

                                    <input type="checkbox" class="form-check-input" style="color: #fab91a;">
                                    <a href="/users/pwdforgot"  style="position: relative ;left:35px;">Mot de passe oublie?</a>
                                    </div>

                                    <div class="d-grid gap-2  mx-auto">
                                      <div style="background-size: 5px;">
                                        <app-spiner [show]="show" [size]="50"> </app-spiner>
                                      </div>
                                    <button type="submit" class="btn btn btn-lg " style="background:#fab91a;color: white;" (click)="login($event)">Je me connecte</button>
                                   </div>
                                   <br>
                                   <hr>
                                   <br>
                                   <!----
                                    <div class="d-grid gap-2  mx-auto">
                                    <button type="submit" class="btn  btn-lg flex"  style="background:#042341;color: white;"><i  class="fa fa-facebook" style="color: #000;"></i>Se connecter avec Facebook</button>
                                   </div>
                                  -->

                                </form>
                         </div>
                       </div>
                    </div>
                    </div>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <input  type="checkbox" id="check" >
<nav>
    <div class="nav">
      <div class="logo">
        <a href="/home">
         <img src="/assets/image/logo.png" alt="">
        </a>
      </div>

       <div class="search_box">
         <input type="search" placeholder="Chercher vos produits ici">
         <a  type="submit" class="nav-link "><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
       <ol>
       <li><a href="/home"  ><i class="fa fa-home fa-x" aria-hidden="true"></i> Acceuil</a></li>
     <!----   <li><a href="/likes"><i class="fa fa-heart fa-x"></i> Favoris</a></li> -->
       <li><a href="cart/"><i class="fa fa-shopping-cart fa-x" aria-hidden="true"></i> Panier</a></li>
       </ol>
       <label for="check" class="bar">
         <span class="fa fa-bars fa-3x" id="bars"></span>
         <span class="fa fa-times fa-3x" id="times"></span>
       </label>
  </div>
</nav>
</body>
