
 <!--top bar--> 
<div class="navbar " style="height:7vh;">
  <ul class="element1">
    <li>
      contact
    </li>
    <span class="vertical-line"></span>
    <li>
      <a href="/" class="" style="color: #e8d200;">Notre entreprise</a>
    </li>
  </ul>
  <ul class="element2">
    <li>
      <a href="/" style="color: white;">Aide?</a>
    </li>
    <span class="vertical-line"></span>
     <li>
      <div class="dropdown">
        <a style="color: white;" class=" dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-x" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
          <a class="dropdown-item" href="/home"><i class="fal fa-home-lg-alt"></i> Acceuil</a>
          <hr>
          <a class="dropdown-item" href="/users"><i class="fa fa-user fa-x" aria-hidden="true"></i> Mon Compte</a>
          <hr>
          <a class="dropdown-item" href="/users/orders"><i class="fa fa-edit  fa-x  "></i> Mes commandes</a>
          <hr>
          <a class="btn btn-warning" type="submit" (click)="logout($event)">Deconexion</a>
        </div>
      </div>
     </li>
  </ul>
</div>
<!--fin top bar-->
<nav>
  <a href="/">
  <img src="/assets/image/logo.png" >
</a>
<ul class=" justify">
  <a href="/"><i class="fal fa-shopping-cart fa-2x"></i></a>
</ul>
</nav>




