
<div class="container">
<h6>vetements</h6>
<img *ngFor='let item of cltobj' [src]="item.img" height="100" width="100" (click)="addNewItem($event)" [id]="item.clt_id" [name]="cloth"> 
<ul class="pagination">
  <li class="page-item "><a class="btn page-link" (click)="previouspage()" >Previous</a></li>
  <li (click)="currentpage($event)"  class="page-item active">
    <a [id]="pages[0]" class="page-link link">
  {{pages[0]}}</a></li>
  <li (click)="currentpage($event)"  class="page-item active"><a [id]="pages[1]" class="page-link link"  >{{pages[1]}}</a></li>
  <li (click)="currentpage($event)"  class="page-item active"><a [id]="pages[2]" class="page-link link"  >{{pages[2]}}</a></li>
  <!--<li (click)="currentpage($event)" class="page-item"><a [id]="pages[3]"  class="page-link link" >{{pages[3]}}</a></li>
  <li (click)="currentpage($event)" class="page-item"><a  [id]="pages[4]" class="page-link link"  >{{pages[4]}}</a></li>
  -->
  <li class="page-item"><a class="btn page-link" (click)="nextPage()">Next</a></li>
</ul>
</div>
<hr>
<div class="container">
    <h6>Imprimer</h6>
<img *ngFor="let item of prints" [src]="item.img" height="100" width="100" (click)="addNewItem($event)" [id]="item.print_id" [name]="print">  
    <ul class="pagination">
      <li class="page-item "><a class="btn  page-link" (click)="previousprint()">Previous</a></li>
      <li class="page-item active"><a class="page-link link" [id]="pages[0]" (click)="currentpages1($event)">{{pages[0]}}</a></li>
      <li   class="page-item"><a class="page-link link" [id]="pages[1]" (click)="currentpages1($event)">{{pages[1]}}</a></li>
      <li   class="page-item"><a class="page-link link" [id]="pages[2]" (click)="currentpages1($event)">{{pages[2]}}</a></li>
     <!-- <li class="page-item"><a class="page-link link" href="#">4</a></li>
      <li class="page-item"><a class="page-link link" href="#">5</a></li>-->
      <li class="page-item"><a class="btn  page-link" (click)="nextprint()">Next</a></li>
    </ul>
  </div>

<hr>
<div class="container">
    <h6>Gadgets</h6>
<img *ngFor='let item of gadgets' [src]="item.img" height="100" width="100" (click)="addNewItem($event)" [id]="item.gadg_id" [name]="gadget"> 
<ul class="pagination">
    <li class="page-item "><a  class="btn page-link" (click)="previousgadget()" >Previous</a></li>
    <li class="page-item active" ><a class="page-link link"  [id]="pages[0]" (click)="currentgadget($event)" >{{pages[0]}}</a></li>
    <li  class="page-item"  ><a class="page-link link" [id]="pages[1]" (click)="currentgadget($event)">{{pages[1]}}</a></li>
   <li class="page-item"  ><a class="page-link link" [id]="pages[2]" (click)="currentgadget($event)">{{pages[2]}}</a></li>
     <!--<li class="page-item"><a class="page-link link" href="#">4</a></li>
    <li class="page-item"><a class="page-link link" href="#">5</a></li>-->
    <li class="page-item"><a class="btn page-link" (click)="nextgadget()" >Next</a></li>
  </ul>

</div>
<hr>
<div class="container">
    <h6>Affichages</h6>
<img *ngFor='let item of disps' [src]="item.img" height="100" width="100" (click)="addNewItem($event)" [id]="item.disp_id" [name]="disp"> 
<ul class="pagination">
    <li class="page-item "><a class="btn page-link" (click)="previousdisp()">Previous</a></li>
    <li class="page-item active" (click)="currentpages2($event)"><a class="page-link link" [id]="pages[0]" >{{pages[0]}}</a></li>
    <li class="page-item" (click)="currentpages2($event)"><a class="page-link link" [id]="pages[1]">{{pages[1]}}</a></li>
    <li class="page-item" (click)="currentpages2($event)"><a class="page-link link" [id]="pages[2]" >{{pages[2]}}</a></li>
   <!-- <li class="page-item"><a class="page-link link" href="#">4</a></li>
    <li class="page-item"><a class="page-link link" href="#">5</a></li>-->
    <li class="page-item"><a class="btn page-link" (click)="nextpage()">Next</a></li>
  </ul>
</div>
<hr>
 <div class="container">
   <h6>Emballages</h6>
<img *ngFor='let item of packs' [src]="item.img" height="100" width="100" (click)="addNewItem($event)" [id]="item.pack_id" [name]="pack">  
<ul class="pagination">
    <li class="page-item "><a class="btn page-link" (click)="previouspack()">Previous</a></li>
    <li class="page-item active"><a class="page-link link" (click)="currentpack($event)" [id]="pages[0]">{{pages[0]}}</a></li>
    <li class="page-item"><a class="page-link link" (click)="currentpack($event)" [id]="pages[1]">{{pages[1]}}</a></li>
    <li class="page-item"><a class="page-link link" (click)="currentpack($event)" [id]="pages[2]">{{pages[2]}}</a></li>
     <!--<li class="page-item"><a class="page-link link" href="#">4</a></li>
    <li class="page-item"><a class="page-link link" href="#">5</a></li>-->
    <li class="page-item"><a class="btn page-link" (click)="nextpack()">Next</a></li>
  </ul>
</div>


