

<div class="card-columns"> 
<div class="card"  *ngFor='let item of url'>
    <img [src]="item" alt="prod" class="card-img-top"  (click)="gotocart($event)" height="100" width="100">
</div>
</div>
<!--data-toggle="modal" data-target="#info"-->

    