

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>checkout</title>
  </head>
  <body>
<app-header></app-header>
<div class="container">
  <div class="py-5 text-center">
    <h2>Formulaire de paiement</h2>
  </div>

  <div class="row">
    <div class="col-md-6 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Votre panier</span>
        <!-- nombre de produit dans le panier -->
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed " *ngFor="let elts of cart_items">
        <img [src]="elts.img">
          <div>
            <h6 class="my-0">Nom du produit</h6>
            <small class="text-muted">description</small>
          </div>
          <div>
            <h6 class="my-0">Quantité</h6>
            <small class="text-muted">{{elts.qty}}</small>
          </div>
          <div>
            <h6 class="my-0">Prix Unitaire</h6>
            <small class="text-muted">{{elts.price}}</small>
          </div>

          <div>
            <h6 class="my-0">Total</h6>
            <span class="text-muted">{{elts.t}} f cfa</span>
          </div>
          
        </li>
      </ul>
    </div>

    <div class="col-md-6 order-md-1">
      <h4 class="mb-3">Adresse de facturation</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nom</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Prénom</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Nom d'ulistateur</label>
          <div class="input-group">
            <input type="text" class="form-control" id="username" placeholder="Nom d'ulistateur" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valide email adresse.
          </div>
        </div>

        <div class="mb-3">
          <label for="number">Téléphone</label>
          <input type="number" class="form-control" id="number" placeholder="0707010101">
          <div class="invalid-feedback">
            Please enter a valide email adresse.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Adresse de Livraison</label>
          <input type="text" class="form-control" id="address" placeholder="Yopougon ananeraie" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Commue</label>
            <select class="custom-select d-block w-100" id="country" required>
              <option value="">Choisir...</option>
              <option value="">Abobo</option>
              <option value="">Adjamé</option>
              <option value="">Anyama</option>
              <option value="">Attécoubé</option>
              <option value="">Bingerville</option>
              <option value="">Cocody</option>
              <option value="">Koumassi</option>
              <option value="">Marcory</option>
              <option value="">Plateau</option>
              <option value="">Port bouët</option>
              <option value="">Treichville</option>
              <option value="">Songon</option>
              <option value="">Yopougon</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">Quartier</label>
            <select class="custom-select d-block w-100" id="state" required>
              <option value="">Choisir...</option>
              <option>Ananeraie</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
        </div>
       
        <hr class="mb-4">

        <h4 class="mb-3">Mode Paiement</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="om" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Orange Money</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="momo" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">Mtn Money</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="moov" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">Moov Money</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="visa" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">VISA</label>
          </div>
        </div>
      
        <hr class="mb-4">
        <a href="/checkouts/pay" class="btn btn-primary btn-lg btn-block" >Continue</a>
      </form>
    </div>
  </div>
</div>
<div class="espace"></div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="../checkout/validation.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<app-footer></app-footer>
