

<table class="table table-striped">
    <thead>
      <tr>
       <!---- <th scope="col">Produit</th> -->
        <th scope="col">Image</th>
        <th scope="col">Prix </th>
        <th scope="col">Description</th> 
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of detail'>

           <td><img [src]="item.img" width="100" height="100"></td>
           <td>{{item.price}}</td>
           <td>{{item.comment}}</td>
         </tr>
     
    </tbody>
    
  </table>