



  <div  class="col-md-1 col-sm-1 col-lg-1" style="margin-top:5px;margin-left:150px;background: #fff !important;" id="i">
    <img [src]="URL" height="100" width="100" style="float: left;background: #fff !important;" (click)="addNewItem($event)" id="front">  
    <img [src]="face1" height="100" width="100" style="float: left;background: #fff !important;" (click)="addNewItem($event)" id="back">  
</div>