:root{
  --bleu:#324161;
  --jaune:#fab91a;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// --- partie image-------------------
.container .box-image{

  max-width: 100%;
  height: 0%;
  margin-right: -6%;
}

#body{
  margin-top: 5%;
  // border: solid 5px #324161;
  // border-radius: 20px;
  position: static;
  width: 100%;
}

.box-image{
  padding-left: 70px;
  width: 100%;

}

.image{
  width: 100%;
  background-image: url("/assets/image/JIMPRIME-Bannière-Dépliant.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.box-text{
  color: #324161;
  text-align: left;
  padding-right: 50%;
  // padding-top: 10%;
}

.box-text p{
  font-size: 60px;
  font-weight: bold;
  padding-top: 30px;
  font-style: italic;
  text-align: center;

}
.decouvrir{
  margin-bottom: 8%;
  // text-align: center;
}
.btn-decouvrir{
  border-radius: 1.25rem;
  font-weight: bold;
  background-color: #324161;
  color: white;
  font-size: 1.6rem;
  margin-left: 16%;
}

.btn-decouvrir:hover{

  background-color: #1b2333;
  color: white;
}
//----- fin partie image--------
.section-personnalisation{

  padding: 30px;
  border: solid 2px #ccc;
  border-radius: 15px;
  box-shadow: 0px 0px 3px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-personnalisation1{

  border: solid 2px #ccc;
  border-radius: 15px;
  box-shadow: 0px 0px 3px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu{
  padding:10px;
}

.produit{
  display: flex;
  // flex-direction: row;
  // justify-content: space-around;

}




.img{
  border: solid 3px #fab91a;
  // margin: 20px;
}

.produit .perso1{

  border: solid 2px #fab91a;
  margin: 2px;

}



img{
  width: 100%;
}

.perso{
  margin-bottom: 10px;
}
.perso:hover{
  transform: scale(1.02);
}

.txt{

  background: #fab91a;
  border-radius: 15px 15px 0px 0px;
  height: 50px;

}
.txt .txt-yellow{
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-left: 30px;
}

.txt p{
  display: flex;
}

.txt p .voir-plus{
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
  margin-left: auto;
}


.txt-produit{
  font-size: 15px;
  box-shadow: 0px 0.5px 6px;
  border: solid 0.2px #e7e7e7;
  border-radius: 8px;
  color: #324161;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  padding: 5px;
}



