.container{
    background-color:transparent;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 60%;


}
form{
    width: 100%;
    position: static;
    margin: 30px auto 0 auto;
    z-index: 3;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
    position: static;
}
h1{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}
p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}
.col{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
.col a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}
h6{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 11px;
}
h5{
    display:block; 
    position: relative;
    bottom: 10px;
    color:#324161;
}
@media screen and (max-width:1250px) {
  .navbar{
     display: flex;  
     margin: 0;  
  }
  .container{
      display:flex;
      padding: auto;
  } 
  .col-4{
      display:flex;
  } 
  img{
      display: inline-block;
   
  }
  form{
      position:static;
      display: block;
  }
  footer{
      padding:0;
  }
}
