<app-header-up></app-header-up>

<div class="container">
    <form>
      <h2 style="color:#324161;padding: 10px;">Bonjour {{user.name}} !!</h2>
      <ul style="font-weight: bold;padding: 12px;">
      Gardez l'oeil sur vos commandes et modifiez vos données personnelles.<br>Et si vous êtes perdu,
       adressez-vous à notre service client. Nous sommes là pour vous aider.
      </ul>
        <div class="row" style="padding: 12px;">
            <div class="col"> 
              <a routerLink="/users/orders">Historique de vos demandes</a>
            </div>
            <div class="col">   
              <a routerLink="/users/info">Info de contact</a>
            </div>
            <div class="col">
              <a routerLink="/users/pwdforgot">Modifier le mot de passe</a>
          </div>
      
        </div>
      
      <div class="col" style="padding: 20px;">
        <h5><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-volume-control-phone fa-stack-1x fa-inverse"></i>
          </span> Nous sommes à votre écoute</h5>
         <h6>Vous avez des questions, nous les reponses.Contactez le service par mail par telephone</h6>
       <a href="#" style="float: right;position: relative; bottom:18px;color: #324161;;"> contacter le service client</a>
      </div>        
    </form>
  <hr>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
   <br>
    <br>
   <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <app-footer></app-footer>

