
<app-header-up></app-header-up>

<div class="container">
   <div class="">
    <form>
       
        <div class="form-group row">
            <div class="col-md-8">
                <input type="text" class="form-control" name="email" id="inputName" placeholder="Entrer votre E-mail" [(ngModel)]="email">
            </div>
            <div *ngIf="ismail" class="alert alert-warning alert-dismissible fade show" role="alert">{{msg.email}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <input type="password" class="form-control" name="password" id="inputName" placeholder="entrez Votre nouveau mot de passe" [(ngModel)]="newpwd">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <input type="password" class="form-control" name="pwdc" id="inputName" placeholder="Confirmer le nouveau mot de passe" [(ngModel)]="newpwdc">
            </div>
        </div>
        <div *ngIf="ispwdm" class="alert alert-warning alert-dismissible fade show" role="alert">{{msg.pwd}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" (click)='Updatepwd()'>Changer votre mot de passe</button> 
            </div>  
        </div>
    
    </form>
  </div> 
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<app-footer></app-footer>