body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.container{
    background-color:transparent;
    width: 70%;
    min-width: 320px;
    padding: 50px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 60%;
    top: 50%;
    margin-top: 0.3%;



}
form{
    align-items: center;
    width: 70%;
}
.form-group{
    padding: 16px;
    align-items: center;
}

.card{
    width: 590px;
    align-items: center;
    height: auto;
}
button{
    background:#324161;
    border: none;
}
button:hover{
    background: #324161;;
}

@media screen and (max-width:1250px) {
    .container{
        position: absolute;
        left: 50%;
        top: 50%;
    }
}
