<style>
    .control{
      height: 40px;
      border:solid 1px grey ;
      width: 100%;
    }
    body{
      background: grey;
    }
  </style>
  <app-header-up></app-header-up>

  <div class="container">
    <form>
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-8">
        <div class="col">
          <div class="form-outline">
            <input type="text" class="control"  placeholder="Prenoms" />
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text"  class="control"  placeholder="Nom" />
          </div>
        </div>
      </div>
    
      <!-- Email input -->
      <div class="row mb-8">
         <div class="col">
              <div class="form-outline">
                  <input type="email"  class="control" placeholder="E-mail" />
              </div>
         </div> 
          <!-- Password input -->
          <div class="col">
              <div class="form-outline">
              <input type="text"   class="control" value="+225" placeholder="Telephone" />
              </div>
          </div>
  
       </div>
       <div class="row mb-8">
          <div class="col ">
               <div class="form-outline ">
                   <input type="text"  class="control"  placeholder="Genre (optionnel)"   />
               </div>
          </div> 
          <div class="col ">
            <div class="form-outline ">
                <input type="text"   class="control" placeholder="Date de naissance(optionnel)"   />
            </div>
       </div> 
        </div>
      <!-- Checkbox 
      <div class="form-check d-flex justify-content-center mb-4">
        <input
          class="form-check-input me-2"
          type="checkbox"
          value=""
          id="form2Example3"
          checked
        />
        <label class="form-check-label" for="form2Example3">
          Subscribe to our newsletter
        </label>
      </div>
    
      Submit button -->
      <button type="submit" class="btn btn-warning btn-block mb-4">ENREGISTRER</button>
    </form>
        
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <app-footer></app-footer>
